<div class="container">

    <h1>Add Payment Method</h1>

    <%= form_for @payment_method do |f| %>
        <% if @payment_method.errors.any? %>  
            <div class="error_messages">
                <h2>Form is invalid</h2>
                <ul>
                <% @payment_method.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <div class="field">
        <%= f.label :payment_method_name %><br />
        <%= f.text_field :payment_method_name, class: "form-control" %>
        </div>
        <div class="field">
        <%= f.label :account_number %><br />
        <%= f.text_field :account_number, class: "form-control" %>
        </div>
        <%= f.hidden_field :customer_id, :value => @current_customer.id  %>
        <p>
            <div class="actions"><%= f.submit "Add Payment Method", class: "btn btn-success" %></div>
        </p>

    <% end %>
    <%= link_to 'See Your Payment Methods', payment_methods_path %> | <%= link_to 'Back To Profile', customer_path(@current_customer.id) %>
</div>