<%= render 'shared/header' %>
<div class="container">
    <h1>HOME</h1>
    <p>Find me in app/views/home/index.html.erb</p>

<div id="user_header">
    <% if logged_in? %>
        <%= link_to 'Logout', logout_path %>
    <% else %>
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>
    <% end %>
</div>

    <div>
        <%= image_tag('CHUDazon', class:'img-fluid') %>
    </div>
</div>


