<%= render 'shared/header' %>
<div class="container">
    <h1>Customer Profile</h1>
    <p><b>First Name:</b> <%= @customer.customer_first_name %></p>
    <p><b>Last Name:</b> <%= @customer.customer_last_name %></p>
    <p><b>Email:</b> <%= @customer.email %></p>
    <p><b>Street Address:</b> <%= @customer.street_address %></p>
    <p><b>City:</b> <%= @customer.city %></p>
    <p><b>State:</b> <%= @customer.state %></p>
    <p><b>Zip:</b> <%= @customer.zip %></p>
    <p><b>Phone:</b> <%= @customer.phone_number %></p>

    <%= link_to 'See Your Payment Methods', payment_methods_path %>
</div>