<div class="container center">
    <h2>My Products</h2>
    <% @products.where({customer_id: session[:customer_id]}).each_slice(3) do |prod|%>
        <div class="row">
            <% prod.each do |p|%>
                <div class="card col-md" style="width: 20rem;">
                    <%# <%= image_tag p.avatar.url, class: "card-img-top" %>
                    <div class="card-block">
                        <h4 class="card-title"> <%= p[:product_name]%> </h4>
                        <h6> Inventory: </h6>
                        <p class="card-text"> <%= p[:quantity] %> </p>
                        <h6> Sold: </h6>
                        <p class="card-text"> <%= p.orders.count(:product_id) %> </p>
                        <h6> Price: </h6>
                        <p class="card-text">$ <%= p[:product_price] %> </p>
                        <a> <%= link_to 'More Info', product_path(p), class: 'btn' %> </a>
                        <% if p.orders.ids == [] %>
                            <%= link_to 'Delete Product', product_path(p), method: :delete, data: {confirm: 'Are you sure you want to delete this product?'} %>
                        <% else %>
                            <p class="text-secondary">Cannot be Deleted</p>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>