<%= render template: "./shared/_header" %>

<div class="container center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <br>
      <h2>Create a Product to Sell</h2>
      <br>
      
      <%= form_with scope: :product, url: products_path, local: true do |form| %>
      
        <% if @product.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@product.errors.count, "error") %> prohibited
              this product from being saved:
            </h2>
            <ul>
              <% @product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :customer_id, :value => @current_customer[:id] %>

        <p>
          <%= form.select(:product_type_id) do %>
            <% ProductType.all.each do |c| -%>
              <%= content_tag(:option, c.product_type_name, value: c.id) %>
            <% end %>
          <% end %>
        </p>

        

        <p>
          <%= form.label :product_name %><br>
          <%= form.text_field :product_name, class: "form-control"  %>
        </p>

        <p>
          <%= form.label :product_price %><br>
          <%= form.text_field :product_price, class: "form-control"  %>
        </p>

        <p>
          <%= form.label :product_desc %><br>
          <%= form.text_area :product_desc, class: "form-control"  %>
        </p>

        <p>
          <%= form.check_box :local_delivery, id: "delivery-checkbox", onclick: "localDelivery();" %>
          <%= form.label 'Local Delivery?' %><br>
          <div id="local-delivery" class="hide">
            <%= form.label 'Delivery Destination' %><br>
            <%= form.text_field :product_location, class: "form-control"  %>
          </div>
        </p>

        <p>
          <%= form.label :quantity %><br>
          <%= form.text_field :quantity, class: "form-control"  %>
        </p>
      
        <p>
          <%=  form.submit "Sell", class: "btn btn-success" %>
        </p>
      <% end %>

    </div>
  </div>
</div>