<div class="container center">

  <div class="row justify-content-center">
    <div class="col-md-8">
        <br>
        <h2><strong><%= @product.product_name %></strong></h2>

        <p>
        <%= image_tag @product.avatar.url %>
        </p>

        <p>
        <strong>Price:</strong>
        <%= @product.product_price %>
        </p>

        <p>
        <strong>Description:</strong>
        <%= @product.product_desc %>
        </p>

        <p>
        <strong>Location:</strong>
        <% if @product.product_location != "" %>
            <%= @product.product_location %>
        <% else %>
            <p>Not available for local delivery.</p>
        <% end %>
        </p>

        <p>
        <strong>Quantity:</strong>
        <%= @product.quantity %>
        </strong>
        </p>

        <% if session[:customer_id] %>
          <br>
          <%= link_to 'Add to Cart', add_to_cart_path(@product.id), method: :post, :data => {:confirm => 'Item Added to Cart!'} %>
          <br>
        <% end %>
        <br>
        <%= link_to 'Back', products_path %>

        </div>
    </div>
</div>
