<%= render template: "./shared/_header" %>

<div class="container center">

  <div class="row justify-content-center">
    <div class="col-md-8">
        <br>
        <h2><strong>Product Name:</strong>
        <%= @product.product_name %></h2>
        
        <p>
        <strong>Price:</strong>
        <%= @product.product_price %>
        </p>

        <strong>Description:</strong>
        <%= @product.product_desc %>
        </p>

        <strong>Location:</strong>
        <%= @product.product_location %>
        </p>

        <br>

        <%= link_to 'Back', products_path %>

        </div>
    </div>
</div>
